<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">
  <head>
    <meta charset="UTF-8" />
    <meta name="theme-color" content="#000000" />
    <link rel="icon" href="{{asset "/favicon.ico"}}" sizes="48x48" />
    <link rel="icon" href="{{asset "/favicon.svg"}}" sizes="any" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="{{asset "/apple-touch-icon-180x180.png"}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, interactive-widget=overlays-content" />
    <meta name="color-scheme" content="only dark" />
    <title>Oktomusic{{#if dev}} (Dev){{/if}}</title>
    <meta name="description" content="Your personal music streaming server">
    {{#each ogp}}
    <meta property="{{this.property}}" content="{{this.content}}" />
    {{/each}}
    <link rel="manifest" href="/manifest.webmanifest" />
  </head>
  <body>
    <div id="root"></div>
    {{#if dev}}
    <script type="module">
      import RefreshRuntime from "{{asset '/@react-refresh' }}";
      RefreshRuntime.injectIntoGlobalHook(window);
      window.$RefreshReg$ = () => {};
      window.$RefreshSig$ = () => (type) => type;
      window.__vite_plugin_react_preamble_installed__ = true;
    </script>
    <script type="module" src="{{asset "/@vite/client"}}"></script>
    <script type="module" src="{{asset "/src/main.tsx"}}"></script>
    {{else}}
    {{{viteAssetTags}}}
    {{/if}}
  </body>
</html>
